p {
  font-family: 'Roboto', sans-serif;
  margin-top: 13px;
  font-size: 14px;
}
 
a {
  text-decoration: none;
  font-size: 16px;
  color: white;
  font-family: 'Roboto', sans-serif;
}

a:hover {
  font-weight: 700;
  color: #FFFFFF;
}

footer {
  background-color: #333333;
  color: white;
}

h1 {
  font-family: 'Lobster', sans-serif;
}

h2,
h3,
h4 {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
  text-align: center;
}

header {
  text-align: center;
  padding: 16px;
  margin-bottom: 54px;
  background-color: #274472;
}

.quiz {
  border: none;
}

#question-container, .btn-form {
  margin: 30px;
}

.section-title {
  margin-bottom: 42px;
}
 #logo {
  text-align: center;
  padding: 16px;
  margin-bottom: 29px;
  background-color: #274472;
 }

.titles {
  margin: 23px;
}

.filter-options {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-tema {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: center;
}

.filter {
  margin: 2%;
}

#temas label {
  margin: 2%;
  text-align: center;
}

.label-div {
  margin-top: 7px;
}

.filter-left {
  display: flex;
  flex-flow: row nowrap;
  min-width: 50%;
}

select {
  max-width: 40%;
}

.btn-div {
  display: flex;
  justify-content: center;
}

.label {
  margin-bottom: 20px;
}

.btn {
  background-color: #274472;
}

.btn:hover {
  background-color: #00CCFF;
}

.btn-enviar {
  margin: 23px
}

.hr1 {
  width: 70%;
  color: black;
  margin: 40px auto;
}

.header-title {
  color: #ffffff;
  align-self: center;
}

.header-logo {
  max-width: 40%;
  margin: 50px;
}

#block-label {
  margin-right: 2%;
}

#temas {
  display: flex;
  flex-flow: row nowrap;
}

.question-div {
  display: none;
  flex-flow: column nowrap;
  align-items: center;
  padding: 5%;
  margin: 100px auto;
  background-color: #FFFFFF;
  max-width: 60%;
  border: 2px solid rgba(128, 128, 128, 0.3);
  border-radius: 12px;
}

.question-div h2 {
  margin-bottom: 80px;
  background-color: #274472;
  padding: 3%;
  text-align: center;
  border-radius: 12px;
  color: #FFFFFF;
}

.question-div li {
  font-size: 1.5rem;
  list-style: none;
  margin: 1%;
  padding: 1%;
  background-color: #0098da;
  border-radius: 7px;
  color: #FFFFFF;
  transition: hover linear 200ms;
  min-width: 50%;
  text-align: center;
}

.question-div li:hover {
  background-color: #274472;
  color: #FFFFFF;
  cursor: pointer;
}

.show {
  display: flex !important;
}

progress {
  width: 100%;
  height: 20px;
  margin-top: 5%;
  border-radius: 12px;
}

::-webkit-progress-bar {
  background-color: #FFFFFF;
  border: solid 2px rgba(128, 128, 128, 0.3);
  border-radius: 12px;
}

progress::-webkit-progress-value {
  border-radius: 12px;
  background:#0098da;
}

#question-container a {
  color:#333333;
  margin-top: 5%;
}

.footer {
  display: flex;
  justify-content: space-around;
}

.img-footer {
  width: 300px;
  margin: 50px;
}

.display-footer {
  display: flex;
  justify-content: center;
}

.list-socials {
  margin-top: 25px;
}

.socials {
  margin: 10px;
  list-style: none;
}

.social-links {
  margin: 0px 10px;
}

.cprt {
  background-color: #274472;
  text-align: center;
  padding: 0.1px;
}
