p {
  margin-top: 0.5em;
  font-size: 14px;
}

a {
  text-decoration: none;
  font-size: 16px;
}

footer {
  margin: 10px;
}

h1 {
  font-family: 'Lobster', sans-serif;
}

h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
  margin: 30px;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

form {
  margin: 30px;
}

form select {
  margin-bottom: 20px;
}

#question-container {
  margin: 30px;
}

.btn-form {
  margin: 0px 0px 30px 30px;
}

.label {
  margin-bottom: 20px;
}

.btn{
  background-color: #274472;
}

.hr1 {
  width: 70%;
  color: black;
  margin: auto;
}
.hr2 {
  width: 35%;
  color: black;
  margin: auto;
}

.header-title {
  color: #FFFFFF;
  align-self: center;
}

.question-div {
  display: none;
  flex-flow: column nowrap;
  align-items: center;
  padding: 5%;
  margin: 100px auto;
  background-color: darkgray;
  max-width: 50%;
  border-radius: 12px;
}

.question-div h2 {
  margin-bottom: 80px;
  background-color: darkcyan;
  padding: 5%;
  text-align: center;
  border-radius: 12px;
  color: darkblue;
}

.question-div li {
  list-style: none;
  margin: 2%;
  padding: 2%;
  background-color: darkblue;
  border-radius: 7px;
  color: darkcyan;
  transition: hover linear 200ms;
  min-width: 50%;
  text-align: center;
}

.question-div li:hover {
  background-color: darkcyan;
  color: darkgray;
  cursor: pointer;
}

.show {
  display: flex !important;
}

.footer {
  display: flex;
  justify-content: space-around;
}

.github-div {
  text-align: center;
  margin-bottom: 10px;
}

.paragrafo-footer {
  text-align: center;
  font-size: 18px;
}
